@import '../../../styles/main';

.sign-up-section {
  @include background-image;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 64px 0 32px;

  .header-block {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 720px;
  }

  .sign-up-form {
    display: flex;
    flex-direction: column;
    max-width: 420px;
    margin: 0 auto;
    padding: 64px 0 8px;
  }

  .small {
    color: $primary;
    padding-bottom: 40px;
  }
}

.btn-primary {
  @include primary-button;
}

@media only screen and (max-width: 600px) {
  .sign-up-section {
    padding: 40px 16px 20px;
  }
  .sign-up-form {
    padding: 20px 0 32px;
  }
}
