@import '../../../styles/variables.scss';

.sign-up-section {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 64px 0 40px;
  background-image: url('../../../images/HomeBg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left top;

  .header-block {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 720px;
  }

  .sign-up-form {
    display: flex;
    flex-direction: column;
    max-width: 420px;
    margin: 0 auto;
    padding: 64px 0 80px;
  }
}

@media only screen and (max-width: 600px) {
  .sign-up-section {
    padding: 80px 16px 40px;
  }
}
