@import './transition';

%background-base {
  @include transition-in-out;
  background-size: cover;
}

@mixin background-blank {
  @extend %background-base;
  background-color: $white;
}

@mixin background-light {
  @extend %background-base;
  background-color: $light-grey;
}

@mixin background-dark {
  @extend %background-base;
  background-color: $dark;
}
