// Variables


// Colors

$primary: #6b38fb;
$dark: rgba(53, 53, 53, 100);
$input-color-inactive: rgba(53, 53, 53, .34);
$input-color-active: rgba(53, 53, 53, .54);
$dark-grey-color: #d8d7d9;
$light-grey: #f7f7f7;
$white: #fff;

$success-color: rgba(76, 206, 99, 100);
$error-color: #e55b5b;
$line-color: #f8f9fa;
$border-color: rgba(194, 188, 197, .15);
$modal-background: rgba(0, 0, 0, .54);
