%flex {
  display: flex;
}

@mixin flex {
  @extend %flex;
}

@mixin flex-1 {
  @extend %flex;
  flex: 1;
}

@mixin col {
  @extend %flex;
  flex: 1;
  flex-direction: column;
}

@mixin col-no-flex {
  @extend %flex;
  flex-direction: column;
}

@mixin row {
  @extend %flex;
  flex: 1;
  flex-direction: row;
}

@mixin row-no-flex {
  @extend %flex;
  flex-direction: row;
}

@mixin position-center {
  justify-content: center;
  align-items: center;
}

@mixin position-right {
  @extend %flex;
  flex: 1;
  justify-content: flex-end;
  margin: 16px 16px 0 0;
}

@mixin position-bottom {
  bottom: 0;
  position: absolute;
  margin-bottom: 16px;
}

@mixin wrap {
  flex-wrap: wrap;
  overflow: auto;
}

@mixin no-wrap {
  white-space: nowrap;
  overflow: visible;
}


//  Fixed Positions


%fixed {
  position: fixed;
}

@mixin fix-position-bottom {
  @extend %fixed;
  bottom: 0;
}
