%text-base {
  padding-bottom: 1rem;
  padding-top: 2rem;
  text-align: left;
  color: $dark;
  font-family: 'Space Mono', monospace;
  font-weight: 400;
}

%header-text {
  @extend %text-base;
  font-weight: 700;
  text-align: center;
}

@mixin h1 {
  @extend %header-text;
  font-size: 42px;
  margin: 0 16px;
  @media (min-width: $screen-sm-min) {
    font-size: 56px;
  }
}

h1 {
  @include h1;
}

@mixin h2 {
  @extend %header-text;
  font-size: 32px;
  @media (min-width: $screen-sm-min) {
    font-size: 46px;
  }
}

h2 {
  @include h2;
}

@mixin h3 {
  @extend %header-text;
  font-size: 24px;
  @media (min-width: $screen-sm-min) {
    font-size: 36px;
  }
}

h3 {
  @include h3;
}

@mixin h4 {
  @extend %header-text;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  @media (min-width: $screen-sm-min) {
    font-size: 24px;
    font-weight: 400;
    margin: 0;
  }
}

h4 {
  @include h4;
}

@mixin h5 {
  @extend %header-text;
  font-size: 17px;
}

h5 {
  @include h5;
}

@mixin text {
  @extend %text-base;
  // NOTE @include opacity(2);

  font-size: 18px;
  font-weight: 400;
}

@mixin small {
  @extend %header-text;
  font-size: 11px;
}

p {
  @include text;

  .small {
    @include small;
  }
}

@mixin input {
  display: flex;
  font-size: 14px;
  font-weight: 400;
  flex-direction: column;
  border: $dark 1px;
  background-color: $light-grey;
  color: $dark;
  padding: 12px 40px 12px 12px;
  box-sizing: border-box;
  cursor: pointer;
}

input {
  @include input;

  :focus {
      caret-color: $primary;
      opacity: 1;
      outline: $primary none 2px;
    }
}


@mixin link {
  @extend %header-text;
  font-size: 11px;
  color: $primary;
}

a {
  @include link;
}

@mixin error-text {
  @extend %header-text;
  font-size: 11px;
  color: $error-color;
}

// p.error {
//   @include error-text;
// }

@mixin cite {
  color: $grey;
  font-size: 14px;
  font-style: italic;
  margin: 8px 16px;
  padding: 16px 0;
  border-top: 1px solid $light-grey;

  &::before {
    content: '"';
    display: flex;
    margin-left: 8px;

  }

  &::after {
    content: '"';
    display: flex;
    justify-content: flex-end;
    margin-right: 8px;
  }
}

q {
  @include cite;
}

%caption {
  @extend %header-text;
  // NOTE @include opacity(3);
  font-size: 11px;
  letter-spacing: .2rem;
  text-transform: uppercase;
}

@mixin caption-center {
  @extend %caption;
  text-align: center;
}

@mixin caption-left {
  @extend %caption;
  text-align: left;
}

label {
  @include caption-center;

  .left {
    @include caption-left;
  }
}
