%button {
  @extend %text-base;
  @include padding(left right, 2);
  @include padding(top bottom, 0);
  @include corner-radius; // @include circular-radius;
  @include cursor-pointer;
  @include transition-in-out;

  background-color: $primary;
  display: inline-block;
  border: 0;
  margin: 8px auto;
  color: $white;
  box-shadow: 0 4px 8px transparentize($primary, .7);
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 3px;
  outline: 0;

  @media (min-width: $screen-sm-min) {
    font-size: 14px;
    padding: 16px 40px;
  }

  &:hover {
    @include button-elevation;
    @include transition-in-out;

    transform: translateY(-1px);
  }

  &:focus {
    outline: $primary none 2px;
  }

  &:disabled {
    background-color: $grey;
    color: $white;
    opacity: 1 !important;
    box-shadow: none !important;
    transform: none !important;
    transition: initial !important;
    cursor: not-allowed;
    border: none;
  }
}



@mixin primary-button {
  @extend %button;
}

@mixin secondary-button {
  @extend %button;
}

@mixin tertiary-button {
  @extend %button;
}

@mixin quarternary-button {
}
