%card {
  @include corner-radius;
  @include cursor-pointer;
  @include border-card;
  @include transition-in;
  @include col;
  align-items: flex-start;
  background-color: $white;
  margin: 16px;

  &:hover {
    @include card-elevation;
    @include border-white;
    @include transition-out;
  }
}

@mixin card-base {
  @extend %card;
}

@mixin card-entry {
  @extend %card;

  justify-content: space-between;
  min-width: 240px;
  max-width: 240px;
  min-height: 180px;
}

@mixin card-widget {
  @extend %card;
  @include card-elevation;
  @include border-white;
  @include transition-out;
  @include cursor-default;

  min-width: 260px;
  min-height: 220px;
  margin-left: 32px;

  &:hover {
    @include modal-elevation;
  }
}

@mixin card-prompt {
  @extend %card;
  @include modal-elevation;
  border: 0;

  &:hover {
    @include modal-elevation-hover;
    border: 0;
  }

  .img {
    align-self: center;
    border-radius: 10px 10px 0 0;
    max-height: 140px;
  }

  .icon {
    @include icon-button;
    margin: 0;
    position: absolute;
    right: 4px;
    top: 4px;
  }

  .title {
    @include h5;

    padding: 32px 0 0 24px;
  }

  .text {
    @include text;

    padding: 16px 24px 24px;
  }

  .buttonContainer {
    align-self: flex-end;
    border-top: 1px solid var(--line-color);
  }
}

@mixin card-subscription {
  @extend %card;
  @include card-elevation;
  @include border-white;
  @include transition-out;
  @include cursor-pointer;

  min-width: 260px;
  height: 222px;
  margin-left: 32px;

  &:hover {
    @include modal-elevation;
  }
}

@mixin card-popular {
  border-color: $primary;
}
