%icon {
  color: $grey;
}

@mixin icon-button {
  @extend %icon;
  @include cursor-pointer;
  @include transition-in-out;

  padding: 8px;
  margin: 8px 16px;
  display: inline-block;

  &:hover {
    @include opacity(1.3);
  }
}

@mixin icon-static {
  @extend %icon;
}

// When referencing:
// <i className={`${styles.test} material-icons`}>lock</i>
