%input {
  @extend %text-base;
  @include background-light;
  @include border-input;
  @include col;
  @include cursor-pointer;
  @include padding(top bottom, 1);
  @include padding(left right, 2);
  margin: 0 auto;
  min-width: 242px;

  &:focus {
    @include border-input-focus;
    caret-color: $primary;
    opacity: 1;
    outline: $white none 2px;
  }

  ::placeholder {
    color: $light-grey;
  }
}

@mixin input-text {
  @extend %input;
}

input {
  @extend %input;
}

// Variations

@mixin input-label {
  @include caption;

  padding-bottom: 8px;
  padding-left: 16px;
  text-align: left;
}
