@mixin modal-container {
  @include row;
  @include transition-in-out;
  align-items: center;

  background-color: $modal-background;
  bottom: 0;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

%modal-base {
  @include corner-radius;
  @include modal-elevation;
  @include transition-in-out;

  background-color: $white;
  display: flex;
  flex-direction: column;
  width: 420px;
}

@mixin confirmation-modal {
  @extend %modal-base;

  .title {
    @include h4;

    padding: 32px 0 0 24px;
  }

  .text {
    @include text;

    padding: 16px 24px 24px;
  }

  .buttonContainer {
    border-top: 1px solid var(--line-color);
    display: flex;
    justify-content: space-around;
  }
}
