@import '../../styles/variables.scss';


.signupImg {
  background-image: url('../../images/app-screens.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  height: 560px;
}


@media only screen and (max-width: 600px) {
  .signupImg {
    background-image: url('../../images/appScreensMobile.png');
    background-attachment: fixed;
    height: 320px;
  }
}
