@import '../../styles/main';


.card {
  width: 56% !important;
}

.reviewCards {
  display: flex;
  flex-direction: column;
  text-align: -webkit-center;

  .slick-list {
    height: 340px;
  }
  .slick-dots {
    bottom: 30px;
    left: 0px;
  }

  .slick-dots li.slick-active button:before  {
    color: $primary;
    opacity: 1;
  }
  .slick-dots li button:before {
  color: $dark;
  opacity: 0.4;
  }
}


@media only screen and (max-width: 600px) {
  .reviewCards {
    .slick-dots {
      bottom: 60px;
      margin-bottom: 40px;
    }
  }
}
