@import '../../../styles/variables.scss';


.typing-text {
  padding: 24px 16px;
}

.typing-header {
  align-self: flex-end;
  color: $dark;
  font-size: 11px;
  text-align: left;
}

.typing-p {
  color: $dark;
  opacity: 0.54;
  font-size: 11px;
  text-align: left;
}
