@import '../../../styles/variables.scss';

.example-page-div {
  background-color: $light-gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 36px;
  ol {
    width: 265px;
  }
}

.phone {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 224px;
  height: 404px;
  background: $dark;
  border-radius: 25px;
  border: white 15px solid;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);

  p {
    color: $smoke-white;
  }
  span {
    margin-right: 20px;
    align-self: flex-end;
    color: $white;
   }
}
.slick-slider {
  top: 66px;

}
.slick-vertical .slick-slide {
  height: 143px;
  transform: rotate(-0.5deg);
  }

.slick-prev:before {
  content: none;
  display: none;
}

.slick-next {
    position: relative;
    top: 23px;
    right: -160px;
    transform: rotate(85deg);
    cursor: pointer;
  }

.slick-dots {
  position: relative;
  bottom: 280px;
  left: 49px;
}

.slick-dots li.slick-active button:before {
  color: $white;
  opacity: 1;
}

 .slick-dots li button:before {
  color: $white;
  opacity: 0.4;
}

.phone-text {
  margin-left: 22px;
}

