@import '../../../styles/variables.scss';

.example-page-container {
  background-color: $light-grey;
  display: flex;
  flex-direction: column;
  padding: 36px;
}


.phone-frame {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 224px;
  height: 404px;
  background: $dark;
  border-radius: 25px;
  border: white 15px solid;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 404px;
  justify-content: space-around;
  width: 224px;
  p {
    color: $smoke-white;
  }
  span {
    align-self: flex-end;
    color: $white;
    margin-right: 20px;
   }
}



// Slick Slider


.slick-slider {
  top: 66px;

}
.slick-vertical .slick-slide {
  height: 143px;
  transform: rotate(-0.5deg);
  }

.slick-prev:before {
  display: none;
}

.slick-prev:before {
  content: none;
  display: none;
}

.slick-next {
    cursor: pointer;
    position: relative;
    top: 86px;
    right: -192px;
    transform: rotate(90deg);
    cursor: pointer;
  }

  .slick-next:hover {
    transform: rotate(90deg);
  }

.slick-dots {
  position: relative;
  bottom: 310px;
  left: 72px;
  transform: scale(0.7);
}

.slick-dots li.slick-active button:before {
  color: $white;
  opacity: 1;
}

 .slick-dots li button:before {
  color: $white;
  opacity: 0.4;
}

.phone-frame-text {
  margin-left: 0px;
}


// Feature list

.example-page-list {
  padding: 32px;
  max-width: 420px;
}

.example-page-list-item {
    text-align: left;
    padding: 8px 0;
}
