:root {
  --main-bg-color: white;
  --theme-color: #6b38fb;
  --dark-color: rgba(53, 53, 53, 100);
  --dark-color-input: rgba(53, 53, 53, 0.54);
  --success-color: rgba(58, 238, 185, 100);
  --error-color: #e55b5b;
  --background-image: url('../assets/img/backgroundImages/mountainsFade.jpg');
  --scrim-background: rgba(0, 0, 0, 0.54);
  --sidebar-background-color: #fafafa;
  --line-color: #f8f9fa;
  --border-color: rgba(194, 188, 197, 0.15);
  --regular: 'HKGrotesk-Regular';
  --light: 'HKGrotesk-Light';
  --italic: 'HKGrotesk-Italic';
  --bold: 'HKGrotesk-SemiBold';
  --bold-italic: 'HKGrotesk-SemiBoldLegacyItalic';
  --button-font: 'HKGrotesk-SemiBold';
  --tiny: 10px;
  --small: 14px;
  --regular: 17px;
  --medium: 20px;
  --big: 28px;
  --h2: 64px;
  --h3: 36px;
  --border-radius: 10px;
  --box-shadow-regular: 0 10px 16px rgba(0, 0, 0, 0.05);
  --box-shadow-action-button: 0 10px 16px rgba(154, 119, 255, 0.2);
  --logo-full: url('../assets/img/logo_full.png');
  --emotion-color-joy: rgba(255, 241, 115, 1);
  --highlight-bg-joy-low: rgba(255, 241, 115, 0.2);
  --highlight-bg-joy-medium: rgba(255, 241, 115, 0.5);
  --highlight-bg-joy-high: rgba(255, 241, 115, 1);
  --emotion-color-anger: rgba(255, 161, 151, 1);
  --highlight-bg-anger-low: rgba(255, 161, 151, 0.2);
  --highlight-bg-anger-medium: rgba(255, 161, 151, 0.5);
  --highlight-bg-anger-high: rgba(255, 161, 151, 1);
  --emotion-color-confident: rgba(167, 121, 216, 1);
  --highlight-bg-confident-low: rgba(167, 121, 216, 0.2);
  --highlight-bg-confident-medium: rgba(167, 121, 216, 0.5);
  --highlight-bg-confident-high: rgba(167, 121, 216, 1);
  --emotion-color-analytical: rgba(25, 163, 247, 1);
  --highlight-bg-analytical-low: rgba(25, 163, 247, 0.2);
  --highlight-bg-analytical-medium: rgba(25, 163, 247, 0.5);
  --highlight-bg-analytical-high: rgba(25, 163, 247, 1);
  --emotion-color-sadness: rgba(105, 195, 226, 1);
  --highlight-bg-sadness-low: rgba(105, 195, 226, 0.2);
  --highlight-bg-sadness-medium: rgba(105, 195, 226, 0.5);
  --highlight-bg-sadness-high: rgba(105, 195, 226, 1);
  --emotion-color-tentative: rgba(148, 255, 239, 1);
  --highlight-bg-tentative-low: rgba(148, 255, 239, 0.2);
  --highlight-bg-tentative-medium: rgba(148, 255, 239, 0.5);
  --highlight-bg-tentative-high: rgba(148, 255, 239, 1);
  --emotion-color-fear: rgba(125, 178, 88, 1);
  --highlight-bg-fear-low: rgba(125, 178, 88, 0.2);
  --highlight-bg-fear-medium: rgba(125, 178, 88, 0.5);
  --highlight-bg-fear-high: rgba(125, 178, 88, 1);
  --highlight-bg-disabled: #ddd;
}

html,
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  overflow-y: hidden;
  font-family: 'HKGrotesk-Regular', 'Gill Sans MT', Calibri, 'Trebuchet MS',
    sans-serif;
  background-color: white;
  margin: 0;
}

input,
textarea {
  font-family: 'HKGrotesk-Regular', 'Gill Sans MT', Calibri, 'Trebuchet MS',
    sans-serif;
}

::placeholder {
  color: var(--dark-color-input);
}

::selection {
  background: #6b38fb30; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #6b38fb30; /* Gecko Browsers */
}

a {
  color: var(--theme-color);
  font-size: var(--small);
  font-family: var(--bold);
  opacity: 0.8;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}

a:hover {
  opacity: 1;
}

.appBackground {
  background-image: var(--background-image);
  background-size: cover;
  background-position: center bottom;
  display: flex;
  flex: 1;
  transition: all 0.3s;
}

@font-face {
  font-family: 'HKGrotesk-Regular';
  src: url('../assets/fonts/HKGrotesk-Regular.woff') format('woff'),
    url('../assets/fonts/HKGrotesk-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'HKGrotesk-Light';
  src: url('../assets/fonts/HKGrotesk-Italic.woff') format('woff'),
    url('../assets/fonts/HKGrotesk-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'HKGrotesk-Italic';
  src: url('../assets/fonts/HKGrotesk-Italic.woff') format('woff'),
    url('../assets/fonts/HKGrotesk-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'HKGrotesk-SemiBold';
  src: url('../assets/fonts/HKGrotesk-Bold.woff') format('woff'),
    url('../assets/fonts/HKGrotesk-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'HKGrotesk-SemiBoldLegacyItalic';
  src: url('../assets/fonts/HKGrotesk-SemiBoldItalic.woff') format('woff'),
    url('../assets/fonts/HKGrotesk-SemiBoldItalic.woff2') format('woff2');
}

/* Graph changes for insights */

.recharts-pie-label-text {
  padding: 8px !important;
}
