@import 'variables';

html,
body {
  background-color: $white;
  display: flex;
  margin: 0;
}

// Typography

h1,
h2,
h3,
h4,
p,
li,
input,
button,
q {
  color: $dark;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
}

h1 {
  font-size: 56px;
  font-weight: bold;
  margin: 0 16px;
}

h2 {
  font-size: 46px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
}

p,
li {
  font-size: 18px;
  font-weight: 400;

  .small {
    font-size: 11px;
  }
}



q {
  border-top: 1px solid $light-grey;
  color: $grey;
  font-size: 14px;
  font-style: italic;
  margin: 8px 16px;
  padding: 16px 0;
}


input {
  background-color: $light-grey;
  border: $dark 1px;
  box-sizing: border-box;
  color: $dark;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 400;
  padding: 12px 40px 12px 12px;
  //width: 100%;

  &:focus {
    caret-color: $primary;
    opacity: 1;
    outline: $primary none 2px;
  }
}


.btn-primary {
  align-items: center;
  background-color: $primary;
  border: 0;
  box-shadow: 0 4px 8px transparentize($primary, .7);
  color: $white;
  cursor: pointer;
  font-size: 14px;
  height: 42px;
  letter-spacing: 3px;
  padding: 8px 32px;
  text-align: center;
  text-transform: uppercase;
  transition: all .3s ease-in-out;

  @media (max-width: 600px) {
    font-size: 11px;
    padding: 8px 16px;
  }

}

.btn-primary:hover {
  box-shadow: 0 10px 16px transparentize($primary, .8);
  transform: translateY(-1px);
}

.btn-primary:focus {
  outline: $primary none 2px;
}



/// ------ Responsive ----- ///

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
  }
}

@media only screen and (max-width: 420px) {
  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
  }
}
