@import 'variables';

html,
body {
  background-color: $white;
  display: flex;
  margin: 0;
}

// Typography

h1,
h2,
h3,
h4,
p,
li,
input,
button,
q {
  color: $dark;
  font-family: 'Space Mono', monospace;
  font-weight: 400;
}

h1 {
  font-size: 56px;
  font-weight: bold;
  margin: 0 16px;
}

h2 {
  font-size: 46px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
}

p,
li {
  font-size: 18px;
  font-weight: 400;

  .small {
    font-size: 11px;
  }
}



q {
  border-top: 1px solid $light-grey;
  color: $grey;
  font-size: 14px;
  font-style: italic;
  margin: 8px 16px;
  padding: 16px 0;
}


/// ------ Responsive ----- ///

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
  }
}

@media only screen and (max-width: 420px) {
  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
  }
}

::selection {
  background: transparentize($primary, .7);
}

::-moz-selection {
  background: transparentize($primary, .7);
}
