@import '../../../styles/main';

.dropdown {
  @include col;
  @include margin(top left right, reset);
  @include margin(bottom, reset);
  max-width: 288px;
  position: relative;

  &__header {
    @extend %input;
    @include row;
    @include padding(right, 1);

    align-items: center;
    justify-content: space-between;
    max-height: 24px;
    min-width: 248px;

    &:hover {
      @include opacity(1.5);
    }

    &_title {
      // color: $grey;
    }

    &_iconup,
    &_icondown {
      @include padding(all, reset);
    }

    &_iconup {
    }
  }

  ul {
    @include text;
    @include padding(left, reset);
    list-style-type: none;
    width: 100%;

    li {
      @include border-bottom;
      @include padding(left right, 1);
      @include padding(top bottom, 2);
      @include row;
      align-items: center;
      justify-content: space-between;
    }

    li:nth-last-child(1) {
      border: 0;
    }
  }

  .card {
    top: 54px;
    position: absolute;
    z-index: 1;
  }

  .cardActive {
    @include border-card;
    @include padding(top bottom, 0);
    @include padding(left right, reset);
    @include margin(left right, reset);
    width: 270px;

    &:hover {
      @include border-card;
    }
  }

  .icon-container {
    @include flex;
    align-items: center;
    justify-content: center;
    max-height: 20px;
  }
}

li:hover {
  @include background-light;
  color: $dark;
}
