@import '../../styles/variables.scss';

.nav {
  width: 100%;
  background-color: $white;
}

.logo {
  display: block;
  text-align: left;
  padding: 16px;
  height: 40px;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }
}
