@import '../../../styles/main';

.stories {
  @include background-light;
  @include col;
  @include padding(top, 5);
  @include padding(bottom, 5);
  text-align: -webkit-center;

  @media (min-width: $screen-sm-min) {
    @include padding(top bottom, 5);
  }

  &__header {
    @include margin(bottom, 4);
    @include margin(top, 2);
    @include padding(left right, 1);
  }
}

.story {
  @include col;
  justify-content: center;
  margin: 0 auto;

  @media (min-width: $screen-sm-min) {
    @include row;
  }
}
