@import '../../../styles/main';

.stories {
  @include background-light;
  @include col;
  @include padding(top, 5);
  @include padding(bottom, 5);
  text-align: -webkit-center;

  @media (min-width: $screen-sm-min) {
    @include padding(top bottom, 5);
  }

  &__header {
    @include margin(bottom, 4);
    @include margin(top, 2);
    @include padding(left right, 1);
  }
}

.story {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1024px;
  margin: 0 auto;
  justify-content: center;

  @media screen and (min-width: 800px) {
    .column {
      flex: 1;
    }
  }
}
