@import '../../../styles/main';



.testimonials {
  @include col;
  @include padding(top, 3);
  @include padding(bottom, 5);
  text-align: -webkit-center;

  @media (min-width: $screen-sm-min) {
    @include padding(top bottom, 4);
  }

  &__card {
    width: 56%;
  }


  .slick-list {
    height: 340px;
  }
}

.slick-dots {
  @include margin(bottom, 4);
  bottom: 30px;
  left: 0;

  @media (min-width: $screen-sm-min) {
    bottom: 40px;
  }

  li.slick-active button::before {
    @include opacity(1);
    color: $primary;
  }

  li button::before {
    @include opacity(3);
    color: $dark;
  }
}


@media only screen and (max-width: 600px) {
  .cards {
    .slick-dots {
      bottom: 60px;
      margin-bottom: 40px;
    }
  }
}
