@import '../../styles/main';

.footer {
  @include background-dark;
  @include padding(all, 3);
  //@include center-block(vertical);
  display: flex;
}

.logoWhiteFrame {
  text-align: right;
  width: 30%;

  .logoWhite {
    max-width: 140px;
    padding: 24px 24px 8px 16px;
    opacity: 0.34;
  }
}

.footerLinkList {
  list-style: none;
  text-align: left;
  width: 70%;
  padding: 24px;

  .footerItem {
    padding: 4px 16px;
  }

  .active {
    color: $white;
  }

  a {
    cursor: pointer;
    color: $smoke-white;
    text-decoration: none;
      &:hover {
      color: $white;
    }
  }
}


@media only screen and (max-width: 600px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }
  .footerLinkList {
    text-align: center;
  }
  .logoWhiteFrame {
    .logoWhite {
      padding: 32px 0;
    }
  }
}
