@import '../../styles/variables.scss';

.footer {
  background-color: $dark;
  padding-bottom: 28px;

}

.logoWhite {
  text-align: right;
}

.footerLinkList {
  list-style: none;
  text-align: left;

  .active {
    color: $white;
  }

  a {
    cursor: pointer;
    color: $smoke-white;
    text-decoration: none;
      &:hover {
      color: $white;
    }
  }
}


