@import '../../../styles/main';

.refereeInput {
  @include col;
  @include padding(top, 4);
  @include padding(left right, reset);
  @include padding(bottom, 5);

  @media (min-width: $screen-sm-min) {
    @include padding(bottom, 5);
  }

  &__main {
    @include col;
    margin: 0 auto;
    max-width: 820px;

    @media (min-width: $screen-sm-min) {
      @include row;
      align-items: center;
    }

    input {
      max-height: 40px;
      min-width: 242px;

      @media (min-width: $screen-sm-min) {
        @include margin(right, 0);
        min-width: 420px;
      }
    }

    button {
      font-size: 11px;

      @media (min-width: $screen-sm-min) {
        min-width: 320px;
      }
    }
  }

  &__state {
    &__error {
      @include margin(top, 1);
      @include margin(bottom, 3);
      color: $error;
      text-align: center;
    }

    &__submitting {
      @include margin(top, 1);
      @include margin(bottom, 3);
      color: $white;
      text-align: center;
    }
  }

  &__footnote {
    @include small;
    @include padding(top, 1);
    @include padding(bottom, 3);
    @include padding(left right, 2);
    color: $secondary;
    font-style: italic;
  }
}
