@import '../../../styles/main';

.resources {
  @include row;

  &__btn {
    position: absolute;
    right: 24px;
    top: 16px;
    z-index: 100;
  }

  &__menuwrap {
    min-width: 27%;
    position: fixed;
  }

  &__cardswrap {
    left: 27%;
    position: relative;
    width: 70%;
  }
}
