@import '../../../styles/main';

.hero {
  @include background-image;
  @include col;
  @include padding(top, 6);
  @include padding(left right, reset);
  @include padding(bottom, 5);

  @media (min-width: $screen-sm-min) {
    @include padding(bottom, 5);
  }

  &__header {
    @include col;
    color: $white;
    max-width: 720px;

    @media (min-width: $screen-sm-min) {
      @include center-block(horizontal);
    }

    h1,
    p {
      color: $white;
    }

    h1 {
      @include padding(all, 0);
      @include padding(top, reset);
    }

    p {
      @include padding(bottom, 6);
      @include padding(top, 2);
      @include padding(left right, 0);
      text-align: center;

      @media (min-width: $screen-sm-min) {
        @include padding(bottom, 6);
      }
    }
  }

  &__cta {
    text-decoration: none;
  }

  &__video {
    border: 10px solid #ffffff1a;
    border-radius: 24px;
    box-shadow: #0000000a 0 4px 20px;
    left: 7%;
    margin: 0 auto;
    position: absolute;
    top: 80%;
    width: 80%;

    @media (min-width: 375px) {
      left: 9%;
      top: 60%;
    }

    @media (min-width: $screen-sm-min) {
      left: 9%;
      top: 65%;
    }
    @media (min-width: $screen-md-min) {
      left: 10%;
      top: 52%;
    }
  }
}
