@import '../../../styles/main';

.hero {
  @include background-image;
  @include col;
  @include padding(top, 4);
  @include padding(left right, reset);
  @include padding(bottom, 4);

  &__header {
    @include col;
    max-width: 720px;

    @media (min-width: $screen-sm-min) {
      @include center-block(horizontal);
    }


    h1 {
      @include padding(all, 0);
      @include padding(top, reset);
    }

    p {
      @include padding(top bottom, 2);
      text-align: center;
    }
  }

  &__form {
    @include col;
    @include padding(top, 4);
    @include padding(left right, reset);
    @include padding(bottom, 1);
    margin: 0 auto;
    max-width: 420px;

    @media (min-width: $screen-sm-min) {
      @include center-block(horizontal);
    }
    }

  &__small {
    @include small;
    @include padding(bottom, 3);
    color: $primary;
  }
}

@media only screen and (max-width: 600px) {
  .hero {
    padding: 40px 16px 20px;
  }

  &__form {
    padding: 20px 0 32px;
  }
}
