@import '../../../styles/main';

.mentors {
  @include background-white;
  @include col;
  @include padding(top, 3);
  @include padding(bottom, 5);
  text-align: -webkit-center;

  @media (min-width: $screen-sm-min) {
    @include padding(top bottom, 4);
  }

  &__header {
    @include margin(bottom, 4);
    @include margin(top, 2);
    @include padding(left right, 1);
  }

  &__card {
    width: 56%;
  }

  .slick-list {
    height: 340px;
  }
}

.slick-dots {
  @include margin(bottom, reset);
  left: 0;

  @media (min-width: $screen-sm-min) {
    @include margin(bottom, 4);
    bottom: -50px;
  }

  li.slick-active button::before {
    @include opacity(1);
    color: $primary;
  }

  li button::before {
    @include opacity(3);
    color: $dark;
  }
}

@media only screen and (max-width: 600px) {
  .cards {
    .slick-dots {
      bottom: 60px;
      margin-bottom: 40px;
    }
  }
}
