@import '../../../styles/main';

.product {
  @include background-light;
  @include col;
  @include padding(top bottom, 4);
  @include padding(left right, 2);
  align-items: center;

  &__list {
    padding: 24px 24px 24px 40px;
    max-width: 420px;

    &_item {
        text-align: left;
        padding: 8px 0;
    }
  }
}



// Product Showcase Element
// Product Showcase Element
// Product Showcase Element



.phone {
  @include col;
  @include background-dark;
  border: $white 15px solid;
  border-radius: 25px;
  justify-content: space-around;
  width: 224px;
  min-height: 404px;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);

  &__text {
     @include margin(left right, -1);
  }

  p {
    @include margin(top, 1);
    color: $smoke-white;
  }

  span {
    align-self: flex-end;
    color: $white;
   }
}



// Slick Slider
// Slick Slider
// Slick Slider



.slick-slider {
  top: 66px;

}
.slick-vertical .slick-slide {
  height: 143px;
  transform: rotate(-0.5deg);
  }

.slick-prev:before {
  display: none;
}

.slick-prev:before {
  content: none;
  display: none;
}

.slick-next {
    cursor: pointer;
    position: relative;
    top: 86px;
    right: -192px;
    transform: rotate(90deg);
    cursor: pointer;
  }

  .slick-next:hover {
    transform: rotate(90deg);
  }

.slick-dots {
  position: relative;
  bottom: 310px;
  left: 72px;
  //transform: scale(0.7);
}

.slick-dots li.slick-active button:before {
  color: $white;
  opacity: 1;
}

 .slick-dots li button:before {
  color: $white;
  opacity: 0.4;
}
