@import '../../../../styles/main';

.card-details {
  @include padding(top right left, 2);
  @include padding(bottom, 3);
  @include col;
  @include background-white;
  box-shadow: 0 20px 40px $phone-elevation;
  height: 208px;
  max-width: 480px;
  width: 480px;
}

.profile-pic {
  @include circular-radius;
  height: 80px;
  width: 80px;
}

.card-header {
  @include flex;
  @include padding(bottom, 2);
  width: 100%;
}

.card-header-text {
  @include col;
  align-self: center;
  width: 100%;
}

.card-header-text-name {
  @include padding(left, 2);
  margin: 2px 4px;
  text-align: left;
}

.card-header-text-description {
  @include padding(left, 2);
  margin: 2px 4px;
  text-align: left;

  @media (max-width: 600px) {
    font-size: 14px;
  }
}

@media only screen and (max-width: 600px) {
  .card-details {
    @include padding(top, 1);
    @include padding(left right, 0);
    @include padding(bottom, 2);
    box-shadow: none;
    max-width: 320px;
  }
}
